# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, They will
# be requested for review when someone opens a pull request.
* @rsimone @AlessandroDeMartini @agentili

# Order is important; the last matching pattern takes the most
# precedence.

# ----------------------- Developers --------------------------

# When someone opens a pull request that only modify
# a Dev file, only Developers and not the global owner(s) will
# be requested for a review.
# add a Developers folder if necessary 

/cpp/ @raffaellobrondi @agioia-nav @fporcarelli

/ruby/ @rdelrioo @gianninisimone

/maven/ @lserraglini-nav @gianluigiruggeri @AlessandroDeMartini @aielloaldo @Vinay210

/openjdk/ @lserraglini-nav @gianluigiruggeri @AlessandroDeMartini @aielloaldo @Vinay210

# ----------------------- DevOps --------------------------

# When someone opens a pull request that only modify
# a DevOps file, only DevOps and not the global owner(s) will
# be requested for a review.
# add a DevOps folder if necessary 
